<div class="widget-span widget-span-3">

  <div class="widget-measure-container">
    <div class="widget-measure widget-measure-main">
      <span class="widget-label nowrap">Connect API versioning test</span>
      <% 
        measure = measure('ik_custom_report_failures_count')
        if measure && measure.value == 0
      %>
      <div class="link-rules-issues" style="background-color:#4caf50;color:#fff;margin:5px 0;padding:5px;font-weight:bold;">PASSED</div>
      <% elsif measure && measure.value < 0 -%>
      <div class="link-rules-issues" style="background-color:#ffc107;color:#fff;margin:5px 0;padding:5px;font-weight:bold;">ERROR</div>
      <% else -%>
      <div class="link-rules-issues" style="background-color:#f00;color:#fff;margin:5px 0;padding:5px;font-weight:bold;"><%= format_measure('ik_custom_report_failures_count') -%> FAILURES</div>
      <% end -%>
      </span>
    </div>
    <div class="widget-measure-delta"></div>
  </div>

</div>
